.el-container {
  border : 1px solid;
}

.el-layer {
  position: absolute;
}

.el-content {
  position: relative;
}

.el-atomic-mass {
  font-size: 0.6rem;
}

.el-atomic-no {
  font-size: 0.6rem;
}

.el-symbol {
  font-size: 2rem;
}

.el-name {
  font-size: 0.7rem;
}

.el-orbitals {
  font-size: 0.625rem;
}
