.el-container {
  border : 1px solid;
  width: 5rem;

}

.el-layer {
  position: absolute;
}

.el-content {
  position: relative;
}

.el-atomic-mass {
  font-size: 0.625rem;
}

.el-atomic-no {
  font-size: 0.625rem;
}

.el-symbol {
  font-size: 2.4rem;
}

.el-name {
  font-size: 0.8rem;
}

.el-orbitals {
  font-size: 0.625rem;
}
